<!DOCTYPE html>
<html ng-app="AdminApp">
<head>
  <title>MNI Euro Insight CMS</title>

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/>
  <%= stylesheet_link_tag    'admin', media: 'all' %>
  <%= javascript_include_tag 'admin' %>
  <%= csrf_meta_tags %>
  <script>
    window.csrfToken = '<%= form_authenticity_token %>';
  </script>
</head>
<body class="page-header-fixed">

  <%= render 'admin/header' %>

  <div class="clearfix"></div>

  <div class="page-container">
    <%= render 'admin/sidebar' %>

    <div class="page-content-wrapper">
      <div class="page-content">
        <%= yield %>
      </div>
    </div>
  </div>

  <%= render 'admin/footer' %>
</body>
</html>
